@media screen and (min-width: 768px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menuButton {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}